.addCategory {
  background-color: rgb(62, 185, 5);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  border: 1px solid rgb(49, 153, 1);
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgb(70, 218, 1);
    color: #fff;
  }
}
