.btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: all ease 0.2s;
}

.default {
  background-color: #ffb005;
  border: 1px solid #ff8a05;
  color: #fff;

  &:hover {
    background-color: #ff9b05;
  }
}

.primary {
  background-color: #31a626;
  border: 1px solid #2c9c22;
  color: #fff;

  &:hover {
    background-color: #36c02a;
  }
}

.danger {
  background-color: #c00000;
  border: 1px solid #8d0000;
  color: #fff;

  &:hover {
    background-color: #ff0505;
  }
}

.small {
  padding: 5px 10px;
}
