.category {
  display: flex;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.categoryName {
  font-weight: 600;
  font-size: 14px;
}

.categoryCount {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
