.table {
  width: 100%;
}

.tr {
  & td {
    width: 50%;
    padding: 10px;
  }
}

.option {
  // background: rgba(124, 124, 124, 0.16);
}

.value {
  background-color: #eea3002c;
  color: #333;
  font-weight: 500;
}
