.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  margin-top: 20px;
  font-style: italic;
}

.input {
  margin-top: 20px;
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 30px;
}
