.container {
  margin-top: 50px;
  display: flex;
}

.block {
  width: 50%;

  &:first-child {
    padding-right: 15px;
  }

  &:last-child {
    padding-left: 15px;
  }
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
}

.planList {
  margin-bottom: 50px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.message {
  text-align: center;
  color: #333;
  font-style: italic;
}
