.container {
  margin-top: 50px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 18px;
}

.planList {
  margin-bottom: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 50px;
}
