.item {
  padding: 15px;
  border: 2px solid #ffae00;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.close {
  position: absolute;
  top: 2px;
  right: 2px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name {
  color: #333;
  font-weight: 600;
}

.number {
  background-color: #3a3a3a;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 12px;
  color: #fff;
}

.count {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.countLabel {
  margin-right: 10px;
  font-size: 14px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterView {
  color: #fff;
  background-color: #f1a400;
  width: 30px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  cursor: default;
  user-select: none;
}

.counterBtn {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  color: #ffae00;
  border: 2px solid #ffae00;
  font-size: 20px;
  font-weight: 700;
  transition: color ease 0.1s, border ease 0.1s;
  user-select: none;

  &.minus {
    padding-bottom: 3px;
  }

  &.disable {
    color: #7d7d7d;
    border: 2px solid #7d7d7d;
    cursor: default;

    &:hover {
      color: #7d7d7d;
      border: 2px solid #7d7d7d;
      background-color: transparent;
    }
  }

  &:hover {
    color: #fff;
    background-color: #ffae00;
  }
}

.textItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.textItemLabel {
  font-size: 14px;
  margin-right: 5px;
}

.textItemNumber {
  font-weight: 600;
  color: #333;
}

.noExist {
  color: #333;
  font-size: 14px;
}

.btns {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.btnHave {
  margin-right: 20px;
}
