.allProductsBtn {
  background-color: #ff8a05;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  border: 1px solid rgb(255, 123, 0);
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ffb005;
    color: #fff;
  }
}
