.form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doubles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
