.body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.param {
  color: #333;
  font-size: 14px;
}

.input {
  padding-top: 20px;
  padding-bottom: 20px;
}
