.line {
  background-color: #fff;

  & td {
    color: #333;
    font-size: 14px;
    text-align: center;

    &.action {
      padding: 0;
      display: flex;
      justify-content: center;
    }

    &:first-child {
      text-align: left;
    }
  }
}

.btnWrapper {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
}

.btn {
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 30px;

  &:hover {
    background-color: rgb(241, 241, 241);
  }
}

.pic {
  width: 20px;
  height: 20px;
}
