.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 15px;
}

.prod {
  font-weight: 600;
  font-style: italic;
}
