.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 800px;
  width: 100%;
  padding: 30px 15px;
}

.item {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.fullSum {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fullSumLabel {
  margin-right: 10px;
}

.fullSumNumber {
  font-weight: 600;
}
